{% extends 'base.html' %}



{% block title %}Trainers{% endblock %}

{% block content %}



<h1>ATP Trainers</h1>
<br>



    <table class="table" style="width:100%">
             <tr>
                 <th>Name</th>
                 <th>This Week</th>
                 <th>This Month</th>
             </tr>

        {% for trainer in trainers %}

            <tr>
                <th><a href="{% url 'single_trainer' trainer_id=trainer.id %}">{{ trainer.user.get_full_name|upper }}</a</th>
                <th>{{ trainer.week_count }}</th>
                <th>{{ trainer.month_count }}</th>
            <tr>

            {% for client in trainer.get_all_clients %}
            <tr>
                    <td><a href="{% url 'single_client' client_id=client.id %}">{{ client.get_full_name }}</a></td>
                    <td>{{ client.week_count }}</td>
                    <td>{{ client.month_count }}</td>

            </tr>


            {% endfor %}

    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    {% endfor %}





</table>




{% endblock content %}





